<p id="notice"><%= notice %></p>

<h1>Projets</h1>
<div class="d-grid gap-2 col-2 mx-auto">
  <%= link_to 'New Projet', new_projet_path, class:"btn btn-primary text-white" %>
</div>
<br>
<div class="container">
  <% @projets.each do |projet| %>
    <%= link_to projet do %>
      <div class="card w-100 mb-3">
        <div class="card-body">
        <h5 class="card-title"><%= projet.nom %></h5>
        <p class="card-text"><%= projet.contenu %></p>
        
      </div>
      </div>
      <% end %>
    <% end %>

</div>


