<p id="notice"><%= notice %></p>

<h1>Publications</h1>
<div class="d-grid gap-2 col-2 mx-auto">
  <%= link_to 'New Publication', new_publication_path, class:"btn btn-primary text-white" %>
</div>
<br>
<div class="container">
  <% @publications.each do |publication| %>
    <%= link_to publication do %> 
      <div class="card w-100 mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= publication.titre %></h5>
          <p class="card-text"><%= publication.contenu %></p>
          
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate @pubs %>
</div>


     


 

