<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @publication.titre %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @publication.contenu %>
</p>


<%=# link_to 'Profil', publication_path(@publiction.user_id) %>


<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
