<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<%= form_with(url: users_path, method: :get, scope: :search,local: true) do |form| %>
      <div class="field">
          <%= form.label :service %>
          <%= form.select :service, options_for_select(['Sante', 'Banque', 'Ingenieri', 'Securite', 'Formation']), include_blank: true %>
      </div>
      <div class="field">
        <%= form.label :nom %>
        <%= form.text_field :nom , id: "nom"%>
      </div>
      <%= form.submit "Rechercher", id: "search_service" %>
<% end %>
<% @user.each do |user| %>
    
      <td><%= user.email %></td>
     
      <br/>
      <br/>
    
<% end %>
